.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

#payment-form .form-control,
#card-element {
    color: #000;
    border: 1px solid #000;
}

select,
select option {
    color: #000000;
}

select:invalid,
select option[value=""] {
    color: #aab7c4 !important;
}


/* -------------------------------- Order Confirmation */
.order-confirmation-wrapper {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
}

.section-header {
  background-color: #f8f9fa;
  padding: 10px;
  border-radius: 4px;
}

.section-header h5 {
  margin: 0;
  font-weight: 600;
}

.order-confirmation-wrapper p {
  font-size: 1rem;
  margin: 5px 0;
}

.text-highlight {
  color: #28a745;
  font-weight: bold;
}


@media (max-width: 768px) {
  .order-confirmation-wrapper {
      padding: 15px;
  }

  .order-confirmation-wrapper p {
      font-size: 0.9rem;
  }
}

/* -------------------------------- Loading overlay */
#loading-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 9999;
}

.loading-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.loading-spinner {
  margin-bottom: 1rem;
}

.loading-text {
  font-size: 1.2rem;
  color: #000;
}

