{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container h-100vh">
        <div class="row h-100">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="container-fluid hero d-flex align-items-center">
    <div class="row w-100">
        <div class="col-12 col-md-6 offset-md-6 d-flex flex-column justify-content-center text-right">
            <h1 class="display-4 logo-font text-white">
                Fill your garden with colour
            </h1>
            <div class="my-5">
                <h4>
                    <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                </h4>
            </div>
        </div>
    </div>
</div>

<!-- Categories -->
<div class="container position-relative">
    <h2 class="px-3">Search by Category</h2>
    <div class="row flex-nowrap overflow-auto mx-0 pb-3 category-scroll">
        <div class="col-8 col-sm-6 col-md-4 col-lg-3">
            <a class="card season-select-card border-0 spring-card justify-content-end text-center" 
                href="{% url 'products' %}?season=spring" >
                <div class="season-title">
                    <h3 class="logo-font">spring</h3>
                </div>
            </a>
        </div>

        <div class="col-8 col-sm-6 col-md-4 col-lg-3">
            <a class="card season-select-card border-0 summer-card justify-content-end text-center" 
                href="{% url 'products' %}?season=summer">
                <div class="season-title">
                    <h3 class="logo-font">summer</h3>
                </div>
            </a>
        </div>

        <div class="col-8 col-sm-6 col-md-4 col-lg-3">
            <a class="card season-select-card border-0 autumn-card justify-content-end text-center" 
                href="{% url 'products' %}?season=autumn">
                <div class="season-title">
                    <h3 class="logo-font">autumn</h3>
                </div>
            </a>
        </div>

        <div class="col-8 col-sm-6 col-md-4 col-lg-3">
            <a class="card season-select-card border-0 winter-card justify-content-end text-center" 
                href="{% url 'products' %}?season=winter">
                <div class="season-title">
                    <h3 class="logo-font">winter</h3>
                </div>
            </a>
        </div>
    </div>
    <div class="scroll-indicator d-lg-none text-center">
        <i class="fas fa-chevron-right"></i>
    </div>

    <div class="my-5">
        <h4>
            <a href="{% url 'products' %}" 
                class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">
                All Seasons
            </a>
        </h4>
    </div>
</div>
{% endblock %}