{% extends "base.html" %}
{% load static %}

{% block extra_meta %}
    <meta name="description" content="Manage your Botanic Labs account. Update personal information, view order history, and manage preferences to enhance your shopping experience."/>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row justify-content-center">
            <div class="col text-center">
                <h1 class="logo-font page-title">My Profile</h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 col-lg-5 mb-5">
                <div class="card shadow border-0 sleek-card">
                    <div class="card-body">
                        <h4 class="mb-4 text-center card-title">Delivery Information</h4>
                        <form class="mt-3" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <button class="btn btn-primary btn-block sleek-button">Update Information</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-7">
                <div class="card shadow border-0 sleek-card">
                    <div class="card-body">
                        <h4 class="mb-4 text-center card-title">Order History</h4>
                        <div class="order-history table-responsive">
                            <table class="table table-sm table-borderless">
                                <thead>
                                    <tr>
                                        <th>Order Number</th>
                                        <th>Date</th>
                                        <th>Items</th>
                                        <th>Order Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for order in orders %}
                                        <tr>
                                            <td>
                                                <a href="{% url 'order_history' order.order_number %}"
                                                title="{{ order.order_number }}">
                                                    {{ order.order_number|truncatechars:6 }}
                                                </a>
                                            </td>
                                            <td>{{ order.date }}</td>
                                            <td>
                                                <ul class="list-unstyled">
                                                    {% for item in order.lineitems.all %}
                                                        <li class="small">
                                                            {{ item.product.name }} x{{ item.quantity }}
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </td>
                                            <td>£{{ order.grand_total }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div> 
        </div> 
    </div> 
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}