{% extends "base.html" %}
{% load static %}

{% block extra_meta %}
    <meta name="description" content="Add new FAQs to provide comprehensive gardening advice and information.">
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'articles/css/articles.css' %}">
{% endblock %}

{% block page_header %}
{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <h1 class="logo-font my-4">Article Management</h1>
                <h2 class="text-muted"> Add an FAQ</h2>
                <hr>
            </div>
        </div>
        
        <div class="form-container">
            <div class="row">
                <div class="col-12">
                    <form method="POST" action="{% url 'add_faq' %}" class="form mb-2" enctype="multipart/form-data" id="add-faq-form">
                        {% csrf_token %}
                        {% for field in form %}
                            {% if field.name != 'image' %}
                                {{ field | as_crispy_field }}
                            {% else %}
                                {{ field }}
                            {% endif %}
                        {% endfor %}
                        <div class="text-right">
                            <a class="btn btn-outline-black rounded-0" href="{% url 'faq' %}">Cancel</a>
                            <button class="btn btn-black rounded-0" type="submit">Add FAQ</button>
                        </div>
                    </form>
                </div>            
            </div>
        </div>
    </div>
{% endblock %}


