html {
    height: 100%;
}

body {
    padding-top:172.8px;
    background-color: #FAF7F2;
    font-family: 'inter', sans-serif;
}

/* Set the color for all <h1> elements */
h1 {
    color: #F5F5F5;
}

.product-title {
    font-size: 16px;
    color:#000;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: #C83274;
    color: #F5F5F5;
    min-width: 260px;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus {
    background-color: #df5598;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background-color: #000 !important;
}


/* -------------------------------- Home page */
.hero {
    background: url('/media/homepage_hero.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 600px;
}

/* Search by Category */
.season-select-card {
    height: 400px; 
    object-fit: cover; 
    width: 100%; 
    border-radius: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.season-select-card:hover {
    transform: scale(1.05); 
    text-decoration: none;
}

.spring-card {
    background: url('/media/spring.avif');
    background-size: cover;
    
}

.summer-card {
    background: url('/media/summer.avif');
    background-size: cover;
}

.autumn-card {
    background: url('/media/autumn.avif');
    background-size: cover;
}

.winter-card {
    background: url('/media/winter.avif');
    background-size: cover;
}

.season-title {
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)); /* Gradient background */
    color: white;
    text-align: center;
    padding: 30px 30px; 
    max-width: 100%;
    border-bottom-left-radius: 15px; 
    border-bottom-right-radius: 15px;
}

.season-select-card:hover {
    text-decoration: none;
}

.scroll-indicator {
    position: absolute;
    right: 10px;
    bottom: 250px;
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding: 5px 10px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    font-size: 30px;
}

/* -------------------------------- Products */
.card-img-top {
    object-fit: cover;
    aspect-ratio: 3/2;
}

/* Season navigation */
.category-badge {
    display: inline-block;
    padding: 8px 16px;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 25px;
    border: 1px solid transparent;
    color: #555;
    background-color: transparent;
    transition: all 0.3s ease;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.category-badge:hover {
    color: #000;
    border-bottom: 2px solid #666; 
    background-color: transparent;
    box-shadow: none; 
}

.active-season {
    color: pink; 
    border-bottom: 2px solid pink; 
    font-weight: 600;
}

.active-season:hover {
    color: rgb(248, 179, 190); 
    border-bottom: 3px solid;
}

/* Back to Top Button Styles */
.btt-button {
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #605e5e;  
    border-radius: 50%;  
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    opacity: 0.8;
    z-index: 1000;
}

.btt-button:hover {
    background-color: #ff4081; 
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);  
    transform: translateY(-5px); 
    opacity: 1;
}

.btt-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    cursor: pointer;
    font-size: 24px;  
    transition: color 0.3s ease; 
}

.btt-link:hover {
    color: white;
}

.btt-link i {
    transition: transform 0.3s ease;
}

.btt-link:hover i {
    transform: scale(1.2);  
}

.btn-outline-black {
    background: white;
    color: black !important; 
    border: 1px solid black;
}

/* -------------------------------- Product Details*/
.product-details {
    line-height: 0.75;
}

.qty_input {
    
    text-align: center; 
    padding: 5px;
    border: 1px solid #ccc;
}

.decrement-qty, .increment-qty {
    width: 40px; 
    height: 30px; 
    padding: 0;
    margin: 2px 0; 
    font-size: 14px; 
    
}

.input-group {
    flex-direction: column;
    align-items: center; 
    transform: translateY(-10px); /* Move buttons up a few pixels */
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}