html {
    height: 100%;
}

body {
    padding-top:172.8px;
    background-color: #FAF7F2;
    font-family: 'inter', sans-serif;
}

/* Set the color for all <h1> elements */
h1 {
    color: #F5F5F5;
}

.product-title {
    font-size: 16px;
    color:#000;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: #C83274;
    color: #F5F5F5;
    min-width: 260px;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus {
    background-color: #df5598;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background-color: #000 !important;
}


/* -------------------------------- Home page */
.hero {
    background: url('/media/homepage_hero.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 600px;
}

.season-select-card {
    height: 400px; 
    object-fit: cover; 
    width: 100%; 
}

.spring-card {
    background: url('/media/spring.avif');
    background-size: cover;
    text-decoration: none;
}

.summer-card {
    background: url('/media/summer.avif');
    background-size: cover;
    text-decoration: none;
}

.autumn-card {
    background: url('/media/autumn.avif');
    background-size: cover;
    text-decoration: none;
}

.winter-card {
    background: url('/media/winter.avif');
    background-size: cover;
    text-decoration: none;
}

.season-title {
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)); /* Gradient background */
    color: white;
    text-align: center;
    padding: 30px 30px; 
    max-width: 100%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    animation: fadeInUp 1s ease-in-out;
}

.scroll-indicator {
    position: absolute;
    right: 10px;
    bottom: 250px;
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding: 5px 10px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    font-size: 30px;
}

/* -------------------------------- Products */
.card-img-top {
    object-fit: cover;
    aspect-ratio: 3/2;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}