<div class="collapse navbar-collapse" id="main-nav">
    <ul class="nav navbar-nav mx-auto text-left">

        <li class="nav-item">
            <a class="nav-link main-nav h5 text-black mx-3 {% if request.resolver_match.url_name == 'home' %}active{% endif %}" href="{% url 'home' %}">
                Home
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link main-nav text-black h5 mx-3 dropdown dropdown-toggle {% if request.resolver_match.url_name == 'products' %}active{% endif %}" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Flowers
            </a>
            <div class="dropdown-menu" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}" class="dropdown-item">All Flowers</a>
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item">By Rating</a>
                <a href="{% url 'products' %}?sort=season&direction=asc" class="dropdown-item">By Season</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link main-nav h5 text-black mx-3 {% if request.resolver_match.url_name == 'articles' %}active{% endif %}" href="{% url 'articles' %}">
                Articles
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link main-nav h5 text-black mx-3 {% if request.resolver_match.url_name == 'faq' %}active{% endif %}" href="{% url 'faq' %}">
                FAQ
            </a>
        </li>
    </ul>
</div>