<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}">
                <p class="text-dark lower-nav-link-text">HOME</p>
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Flowers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}" class="dropdown-item">All Flowers</a>
                <a href="" class="dropdown-item ">Spring Flowers</a>
                <a href="" class="dropdown-item ">Summer Flowers</a>
                <a href="" class="dropdown-item">Autumn Flowers</a>
                <a href="" class="dropdown-item">Winter Flowers</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="">
                <p class="text-dark lower-nav-link-text">BLOG</p>
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="">
                <p class="text-dark lower-nav-link-text">FAQ</p>
            </a>
        </li>
    </ul>
</div>