{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container h-100vh">
        <div class="row h-100">
            <div class="row"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <hr>
                <h1 class="logo-font mb-4">Article Management</h1>
                <hr>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row mt-4">
            <div class="col-12 text-right">
                <a href="{% url 'add_article' %}" class="btn btn-outline-primary">
                    New Article
                </a>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="product-container col-10 offset-1">
                <div class="row mt-1 mb-2"></div>
                <div class="row">
                    {% for article in articles %}
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="card h-100 border-0">
                                {% if article.image %}
                                <a href="{% url 'article' article.slug %}">
                                    <img class="card-img-top img-fluid" src="{{ article.image.url }}" alt="{{ article.image_alt }}">
                                </a>
                                {% else %}
                                <a href="{% url 'article' article.slug %}">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ article.title }}">
                                </a>
                                {% endif %}
                                <div class="card-body pb-0">
                                    <p class="mb-0">{{ article.title }}</p>
                                    <p class="mb-0">{{ article.excerpt }}</p>
                                    <p class="mb-0">{{ article.posted_date|date:"F j, Y" }} by {{ article.author }}</p>

                                    <!-- Display status (Published/Draft) -->
                                    <p class="mb-0">
                                        Status: 
                                        {% if article.status == 1 %}
                                            <span class="text-success">Published</span>
                                        {% else %}
                                            <span class="text-warning">Draft</span>
                                        {% endif %}
                                    </p>

                                    <!-- Display is_deleted status -->
                                    <p class="mb-0">
                                        Deleted: 
                                        {% if article.is_deleted %}
                                            <span class="text-danger">Yes</span>
                                        {% else %}
                                            <span class="text-success">No</span>
                                        {% endif %}
                                    </p>
                                </div>

                                
                            </div>
                        </div>

                        <!-- Responsive design spacing with horizontal lines -->
                        {% if forloop.counter|divisibleby:1 %}
                            <div class="col-12 d-sm-none mb-5">
                                <hr>
                            </div>
                        {% endif %}                        
                        {% if forloop.counter|divisibleby:2 %}
                            <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:3 %}
                            <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:4 %}
                            <div class="col-12 d-none d-xl-block mb-5">
                                <hr>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}
